@{

}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="~/StyleSheetwizard.css">
    <title></title>
</head>
<body>
    <div>
    <img src="~/Images/thankyou.gif" alt="Bedankt" style="height:30%; width: auto;" />
    <p class="voorpc" style="font-size: 1em;">
        Bedankt voor het samenstellen van uw taart
        U heeft een bevestiging met uw keuzes ontvangen op het door u ingevulde email adres.
        als u deze taart wilt bestellen kunt u op de mail antwoorden.
        Klik <a href="https://www.fondanti.nl">hier</a> om terug te gaan naar de home page of klik op de koala om nog een taart samen te stellen.
    </p>
    <a href="~/Wizard/Aantalpersonen.cshtml"><img src="~/Images/koala.gif" alt="koala" style="height:30%; width: auto;" /></a>

</div>
</body>
</html>
