@{
    var voornaam = Request.Form["voornaam"];
    var achternaam = Request.Form["achternaam"];
    var email = Request.Form["email"];
    var telefoonnummer = Request.Form["telefoonnummer"];
    var straat = Request.Form["straat"];
    var huisnummer = Request.Form["huisnummer"];
    var toevoeging = Request.Form["toevoeging"];
    var postcode = Request.Form["postcode"];
    var plaats = Request.Form["plaats"];
    var email2 = "mous1700@student.nhl.nl";
    if (IsPost)
    {
        
        for (int i = 0; i < 1; i++)
        {
            WebMail.Send(
                       to: email,
                       cc: email2,
                       subject: "Prijs indicatie Fondanti",
                       body: "Beste " + voornaam + " " + achternaam + "\r\n" +
                       "Wij hebben gezien dat u een taart heeft samengesteld. De indicatie prijs van uw taart is: " + "\r\n" +
                       "De samenstelling van uw taart is: " + "\r\n" +
                       "Uw overig ingevulde gegevens zijn: " + "\r\n" +
                       telefoonnummer + "\r\n" +
                       straat + " " + huisnummer + toevoeging + "\r\n" +
                       postcode + " " + plaats
                       );
        }

    }

}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title></title>
</head>
<body>
    <div class="row">
        <form class="col s12" method="post">
            <div class="row">
                <div class="input-field col s3">
                    <br />
                    <input id="first_name" type="text" name="voornaam" required>
                    <label for="first_name">Voornaam:*</label>
                </div>
                <div class="input-field col s3">
                    <br />
                    <input id="last_name" type="text" name="achternaam" required>
                    <label for="last_name">Achternaam:*</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <br />
                    <input id="email" type="email" name="email" required>
                    <label for="email">Email adres:*</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <br />
                    <input id="input_text" type="tel" name="telefoonnummer" maxlength="10" required>
                    <label for="input_text">Telefoon nummer:*</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <br />
                    <input id="input_text" type="text" name="straat" required>
                    <label for="input_text">Straatnaam:*</label>
                </div>
                <div class="input-field col s2">
                    <br />
                    <input id="input_text" type="text" name="huisnummer" required>
                    <label for="input_text">Huis nummer:*</label>
                </div>
                <div class="input-field col s1">
                    <br />
                    <input id="input_text" type="text" name="toevoeging">
                    <label for="input_text">Toevoeging:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <br />
                    <input id="input_text" type="text" name="postcode" required maxlength="6">
                    <label for="input_text">Postcode:*</label>
                </div>

                <div class="input-field col s3">
                    <br />
                    <input id="input_text" type="text" name="plaats" required>
                    <label for="input_text">Plaats:*</label>
                </div>
            </div>
            <div>
                <input type="submit" value="Submit">

            </div>

        </form>
    </div>
</body>
</html>