@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}
@{

}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title></title>
</head>
<body>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s3">
                    <br />
                    <input id="first_name" type="text" name="voornaam">
                    <label for="first_name">Voornaam:</label>
                </div>
                <div class="input-field col s3">
                    <br />
                    <input id="last_name" type="text" name="achternaam">
                    <label for="last_name">Achternaam:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <br />
                    <input id="email" type="email" name="email">
                    <label for="email">Email adres:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <br />
                    <input id="input_text" type="text" name="telefoonnummer">
                    <label for="input_text">Telefoon nummer:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <br />
                    <input id="input_text" type="text" name="straat">
                    <label for="input_text">Straatnaam:</label>
                </div>
                <div class="input-field col s2">
                    <br />
                    <input id="input_text" type="text" name="huisnummer">
                    <label for="input_text">Huis nummer:</label>
                </div>
                <div class="input-field col s1">
                    <br />
                    <input id="input_text" type="text" name="toevoeging">
                    <label for="input_text">Toevoeging:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <br />
                    <input id="input_text" type="text" name="postcode">
                    <label for="input_text">Postcode:</label>
                </div>

                <div class="input-field col s3">
                    <br />
                    <input id="input_text" type="text" name="plaats">
                    <label for="input_text">Plaats:</label>
                </div>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
            
        </form>
    </div>
</body>
</html>