@{
    int persoon = Convert.ToInt16(Session["personen"]);
    string taartsoort = Convert.ToString(Session["taartsoort"]);
    string bekleding = Convert.ToString(Session["bekleding"]);
    string vulling = Convert.ToString(Session["vulling"]);
    string decoratieniveau = Convert.ToString(Session["decoratieniveau"]);
    string Thema = Convert.ToString(Session["Thema"]);
    string lagen = Convert.ToString(Session["lagen"]);
    string allergie = Convert.ToString(Session["allergie"]);

    var voornaam = Request.Form["voornaam"];
    var achternaam = Request.Form["achternaam"];
    var email = Request.Form["email"];
    var telefoonnummer = Request.Form["telefoonnummer"];
    var straat = Request.Form["straat"];
    var huisnummer = Request.Form["huisnummer"];
    var toevoeging = Request.Form["toevoeging"];
    var postcode = Request.Form["postcode"];
    var plaats = Request.Form["plaats"];
    var datum = Request.Form["bezorgdatum"];
    var email2 = "mous1700@student.nhl.nl"; //voer hier het email adres in voor fondanti

    if (IsPost)
    {


        WebMail.Send(
               to: email,
               subject: "Prijs indicatie Fondanti",
               body: "Beste " + voornaam + " " + achternaam + "\n" +
               "Wij hebben gezien dat u een taart heeft samengesteld. De indicatie prijs van uw taart is: " + "\n" +
               "De samenstelling van uw taart is: " + "\n" +
               "Uw overig ingevulde gegevens zijn: " + "\n" +
               telefoonnummer + "\n" +
               straat + " " + huisnummer + toevoeging + "\n" +
               postcode + " " + plaats + "\n" + "De bezorgdatum is: " + datum
               );

        WebMail.Send(
               to: email2,
               subject: "Samenstelling van klant",
               body: "Beste medewerker, " + "\r\n" +
               "Er heeft een klant een taart samengesteld." + "\n" +
               "De samenstelling van de taart is: " + "Aantal personen: " + persoon + "\n" + "Aantal lagen " + lagen + "\n" + "Soort thema: " + Thema + "\n"
               + "Soort taart: " + taartsoort + "\n" + "Bekleding: " + bekleding + "\n" + "Vulling: " + vulling + "\n" + "Niveau van decoratie: " + decoratieniveau + "\n" +
               "Allergieen: " + allergie + "\n" +
               "De overige ingevulde gegevens zijn: " + "\n" +
               telefoonnummer + "\n" +
               straat + " " + huisnummer + toevoeging + "\n" +
               postcode + " " + plaats + "\n" + "De gewenste bezorgdatum is: " + datum
               );












    }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title></title>
</head>
<body>
    <div class="row">
        <form class="col s12" method="post">
            <div class="row">
                <div class="input-field col s3">
                    <br />
                    <input id="first_name" type="text" name="voornaam" required>
                    <label for="first_name">Voornaam:*</label>
                </div>
                <div class="input-field col s3">
                    <br />
                    <input id="last_name" type="text" name="achternaam" required>
                    <label for="last_name">Achternaam:*</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <br />
                    <input id="email" type="email" name="email" required>
                    <label for="email">Email adres:*</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <br />
                    <input id="input_text" type="number" name="telefoonnummer" maxlength="10" required>
                    <label for="input_text">Telefoon nummer:*</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <br />
                    <input id="input_text" type="text" name="straat" required>
                    <label for="input_text">Straatnaam:*</label>
                </div>
                <div class="input-field col s2">
                    <br />
                    <input id="input_text" type="text" name="huisnummer" required>
                    <label for="input_text">Huis nummer:*</label>
                </div>
                <div class="input-field col s1">
                    <br />
                    <input id="input_text" type="text" name="toevoeging">
                    <label for="input_text">Toevoeging:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <br />
                    <input id="input_text" type="text" name="postcode" required maxlength="6">
                    <label for="input_text">Postcode:*</label>
                </div>

                <div class="input-field col s3">
                    <br />
                    <input id="input_text" type="text" name="plaats" required>
                    <label for="input_text">Plaats:*</label>
                </div>
            </div>
            <div class="col s3 row">
                Wanneer wilt u de taart hebben:
                <div class="input-field inline">
                    <input id="Date_inline" type="date" name="bezorgdatum" class="validate" min="3-4-2018" required />
                </div>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>

        </form>
    </div>
</body>
</html>