
@media screen and (max-width:800px){
    .breed{
        width: 100%;
    }
    .formulier{
        width: 100%;
    }
    body{
        width: 100%;
    }
}
@media only screen and (min-width: 800px){

body{
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 20%;
}
}