@using System
@using System.Web.UI
@{

    if (!IsPost)
    {
        Page.Title = "Title goes here";
        var admin_exists = new Db_Stuff.Mssql_Admin_Db_methods().admin_account_exists();

        <script src="~/Content/js/lib/jquery.min.js"></script>
        <script src="~/Content/js/lib/lodash.min.js"></script>


        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

        <hgroup class="title" style="text-align: center;">
            <h1>@Page.Title.</h1>
        </hgroup>

        <h2 style="text-align: center;">Use a local account to log in.</h2>
        <div style="margin: auto;width: 300px;">

            <fieldset>
                <legend>Log in to Your Account</legend>
                <ol>
                    <li class="email">
                        <label for="email">Email address</label>
                        <input type="text" id="email" name="email" value="" />
                    <li class="password">
                        <label for="password" class="error-label"> Wachtwoord</label>
                        <input type="password" id="password" name="password" />
                    </li>
                    @if (!admin_exists)
                    {
                        <li class="password">
                            <label for="password" class="error-label"> Wachtwoord herhalen</label>
                            <input type="password" id="Wachtwoord_conf" name="password" />
                        </li>
                    }
                </ol>
                @if (admin_exists)
                {
                    <input type="submit" id="button_login" value="Log in" />
                }
                else
                {
                    <input type="submit" id="button_create" value="Maak account aan" />

                }

            </fieldset>
        </div>
        if (Request.QueryString["new"].AsBool() == true)
        {
            <div style="color:red; text-align:center;" id="message_text">Account is aangemaakt, u kunt nu inloggen.</div>
        }
        else
        {
            <div style="color:red; text-align:center;" id="message_text"> </div>
        }
        <script src="~/Content/js/login_page.js"></script>
    }
    else
    {
        var act = Request.Form["action"];
        if (act != null)
        {
            var db = new Db_Stuff.Mssql_Admin_Db_methods();
            if (act == "login")
            {
                string email = Request.Form["email"];
                string password = Request.Form["password"];
                if (password != null && email != null)
                {
                    if (Utils.validate_email(email))
                    {
                        if (db.validate_login(email, password))
                        {
                            Session["logged_in"] = true;
                            Session["last_active"] = DateTime.Now;
                            Response.Write("ok");
                        }
                        else
                        { Response.Write("invalid_login"); }
                    }
                    else
                    { Response.Write("Emailaddres is niet correct."); }
                }
                else
                { Response.Write("De gebruikersnaam en wachtwoord moeten bijde ingevult zijn."); }
            }
            if (act == "create_account")
            {
                string email = Request.Form["email"];
                string password = Request.Form["password"];
                if (password != null && email != null)
                {
                    if (Utils.validate_email((email)))
                    {
                        try
                        {
                            WebMail.Send(
                                to: email,
                                subject: "fondanti admin",
                                body: "Gefelciteerd, u bent nu de admin van Fondanti. "
                                );
                            db.create_admin(email, password);
                        }
                        catch (Exception e)
                        {
                            Console.WriteLine(e);
                            Response.Write("Aanmaken van het admin account is mislukt. probeer het nog een keer.");
                            throw;
                        }
                    }
                    else
                    { Response.Write("Het email adres is niet geldig."); }
                }
                Response.Write("ok");
            }
        }
    }
}