@{
    if (IsPost)
    {
        Session["personen"] = Request.Form["personen"];
        Response.Redirect("/Wizard/Aantallagen.cshtml");
    }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @helpers.wizard.materialized_header()
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center"></a>
            <ul class="left hide-on-med-and-down">
                <li class="active"><a href="#">Aantal personen</a></li>
                <li><a href="#">Aantal lagen</a></li>
                <li><a href="#">Thema</a></li>
                <li><a href="#">Bekleding</a></li>
                <li><a href="#">Allergieën</a></li>
                <li><a href="#">Overzicht</a></li>

            </ul>
        </div>
    </nav>
    <form method="post" class="breed">
        @helpers.wizard.aantal_personen(Convert.ToInt32(Session["personen"]));
        <input type="submit" name="submit" value="Volgende" />

    </form>
</body>
</html>