@{
    if (IsPost)
    {
        Session["allergieen"] = Request.Form["allergieen"];
        Response.Redirect("/Eindoverzicht.cshtml");
        
    }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @helpers.wizard.materialized_header()
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center"></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="~/Wizard/Aantalpersonen.cshtml">Aantal personen</a></li>
                <li><a href="~/Wizard/Aantallagen.cshtml">Aantal lagen</a></li>
                <li><a href="~/Wizard/Thema.cshtml">Thema</a></li>
                <li><a href="~/Wizard/Bekleding.cshtml">Bekleding</a></li>
                <li class="active"><a href="~/Wizard/Allergieen.cshtml">Allergieën</a></li>
                <li><a href="~/Eindoverzicht.cshtml">Overzicht</a></li>
            </ul>
        </div>
    </nav>
    <form method="post" class="breed">
        @helpers.wizard.allergieen(Session["allergieen"] as string)



        <input type="submit" name="submit" value="Volgende" />

    </form>
</body>
</html>